{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<table>
    <thead>
        <tr>
            <th>Cryptocurrency</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Value (USD)</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.crypto }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.price }}</td>
            <td>{{ transaction.value }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>Total:</td>
            <td></td>
            <td></td>
            <td>{{ total_value }}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}